<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.android.healthvector"
    tools:ignore="UnusedAttribute">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-sdk
        android:minSdkVersion="14"
        tools:overrideLibrary="com.xiaofeng.flowlayoutmanager" />

    <application
        android:name="ru.android.healthvector.app.ChildDiaryApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:supportsRtl">

        <activity
            android:name="ru.android.healthvector.presentation.main.MainActivity"
            android:exported="true"
            android:screenOrientation="${screenOrientation}" />
        <activity
            android:name="ru.android.healthvector.presentation.splash.SplashActivity"
            android:screenOrientation="${screenOrientation}">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.onboarding.AppIntroActivity"
            android:screenOrientation="${screenOrientation}" />
        <activity
            android:name="ru.android.healthvector.presentation.cloud.CloudInitialActivity"
            android:screenOrientation="${screenOrientation}" />
        <activity
            android:name="ru.android.healthvector.presentation.cloud.CloudOperationActivity"
            android:screenOrientation="${screenOrientation}" />
        <activity
            android:name="ru.android.healthvector.presentation.profile.ProfileEditActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.events.DiaperEventDetailActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.events.FeedEventDetailActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.events.OtherEventDetailActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.events.PumpEventDetailActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.events.SleepEventDetailActivity"
            android:exported="true"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.events.DoctorVisitEventDetailActivity"
            android:exported="true"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.events.ExerciseEventDetailActivity"
            android:exported="true"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.events.MedicineTakingEventDetailActivity"
            android:exported="true"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.medical.add.medicines.AddDoctorVisitActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.medical.add.visits.AddMedicineTakingActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.medical.edit.medicines.EditDoctorVisitActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.medical.edit.visits.EditMedicineTakingActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.dictionaries.doctors.DoctorAddActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="ru.android.healthvector.presentation.dictionaries.doctors.DoctorPickerActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="ru.android.healthvector.presentation.dictionaries.medicines.MedicineAddActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="ru.android.healthvector.presentation.dictionaries.medicines.MedicinePickerActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="ru.android.healthvector.presentation.dictionaries.medicinemeasure.MedicineMeasureAddActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="ru.android.healthvector.presentation.dictionaries.medicinemeasure.MedicineMeasurePickerActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="ru.android.healthvector.presentation.dictionaries.food.FoodAddActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="ru.android.healthvector.presentation.dictionaries.food.FoodPickerActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="ru.android.healthvector.presentation.dictionaries.foodmeasure.FoodMeasureAddActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="ru.android.healthvector.presentation.dictionaries.foodmeasure.FoodMeasurePickerActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="ru.android.healthvector.presentation.dictionaries.achievements.AchievementAddActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="ru.android.healthvector.presentation.dictionaries.achievements.AchievementPickerActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="ru.android.healthvector.presentation.core.images.crop.CropActivity"
            android:screenOrientation="${screenOrientation}" />
        <activity
            android:name="ru.android.healthvector.presentation.core.images.review.ImageReviewActivity"
            android:screenOrientation="${screenOrientation}" />
        <activity
            android:name="ru.android.healthvector.presentation.exercises.ExerciseDetailActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.exercises.AddConcreteExerciseActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="ru.android.healthvector.presentation.exercises.WebBrowserActivity"
            android:screenOrientation="${screenOrientation}" />
        <activity
            android:name="ru.android.healthvector.presentation.testing.TestingActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.testing.TestResultActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.chart.testing.TestChartActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.chart.antropometry.AntropometryChartActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.development.partitions.antropometry.add.AddAntropometryActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.development.partitions.antropometry.edit.EditAntropometryActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.development.partitions.achievements.add.AddConcreteAchievementActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.development.partitions.achievements.edit.EditConcreteAchievementActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.settings.daylength.DayLengthActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.settings.notifications.NotificationsActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.settings.notification.NotificationActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.settings.notifications.NotificationsActivity" />
        </activity>
        <activity
            android:name="ru.android.healthvector.presentation.help.contacts.ContactUsActivity"
            android:parentActivityName="ru.android.healthvector.presentation.main.MainActivity"
            android:screenOrientation="${screenOrientation}">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.android.healthvector.presentation.main.MainActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/file_provider_authorities"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name="ru.android.healthvector.services.TimerService" />
        <service android:name="ru.android.healthvector.services.UpdateDataService" />
        <service android:name="ru.android.healthvector.services.CloudService" />
        <service android:name="ru.android.healthvector.services.AccountService" />
        <service android:name="ru.android.healthvector.services.EventScheduleService" />
        <service android:name="ru.android.healthvector.services.LinearGroupFinishedService" />
        <service android:name="ru.android.healthvector.services.notifications.AlarmEventService" />
        <service android:name="ru.android.healthvector.services.notifications.NotificationEventService" />

        <receiver android:name="ru.android.healthvector.receivers.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="ru.android.healthvector.receivers.TimeChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_CHANGED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}" />
    </application>
</manifest>
